.row
  .col-md-8.col-md-offset-2
    = form_for(@note) do |f|
      - if @note.errors.any?
        #error_explanation
          %h2
            = "#{pluralize(@note.errors.count, "error")} prohibited this note from being saved:"
          %ul
            - @note.errors.full_messages.each do |msg|
              %li
                = msg
      = f.label :title
      = f.text_field :title, autofocus: true, class: 'form-control', required: true
      %br
      = f.label :body
      = f.text_area :body, autocomplete: "off", rows: 20, class: 'form-control', required: true
      %br
      = f.label :tags_list
      %em
        (Enter comma seperated tags.)
      = f.text_field :tags_list, class: 'form-control'
      %br
      = f.submit "Save & Share", class: 'btn btn-success'
      = f.submit "Draft", class: "btn btn-warning"
    %br
    - if can? :destroy, @note
      = form_for(@note, html: { method: :delete }) do |f|
        = f.submit 'Delete', method: 'delete', class: "btn btn-danger"
    - if @note.persisted? && @note.shared? && can?(:share, @note)
      %br
      .row
        = form_for(:share, url: share_note_path(@note)) do |f|
          .col-md-6
            = f.email_field :email, class: 'form-control', required: true, placeholder: "Enter Email.."
          .col-md-4
            = f.select :role, User::ROLES.except(:owner).map{ |k,v| [v, k] }, {}, class: 'form-control'
          .col-md-2
            = f.submit "Share", class: "btn btn-success", style: 'float:right'
      .row.col-md-12
        = render  partial: 'shared_users', locals: {note: @note}
