.row
  .col-md-8.col-md-offset-2
    = form_for(@note) do |f|
      - if @note.errors.any?
        #error_explanation
          %h2
            = "#{pluralize(@note.errors.count, 'error')} prohibited this note from being saved:"
          %ul
            - @note.errors.full_messages.each do |msg|
              %li
                = msg
      = f.label :title
      = f.text_field :title, autofocus: true, class: 'form-control', required: true
      %br
      = f.label :body
      = f.text_area :body, autocomplete: 'off', rows: 20, class: 'form-control', required: true
      %br
      = f.label :tags_list
      %em
        (Enter comma seperated tags.)
      = f.text_field :tags_list, class: 'form-control'
      %br
      = f.submit 'Save & Share', class: 'btn btn-success'
      - unless @note.shared?
        = f.submit 'Draft', class: 'btn btn-warning'
    %br
    - if can? :destroy, @note
      = form_for(@note, html: { method: :delete }) do |f|
        = f.submit 'Delete', method: 'delete', class: 'btn btn-danger'
