- User::ROLES.map do |k,v|
  - if k.eql?(:owner)
    %h6= owner_text(note)
  - elsif (users = User.with_role(k, note)).present?
    .panel-group
      .panel.panel-default
        %a{'data-toggle' => 'collapse', href: '#user-list', style: 'text-decoration:none'}
          .panel-heading
            .panel-title
              = "Following users have #{v} access to this note."
        #user-list.panel-collapse.collapse
          %ul.list-group
            - users.each do |user|
              %li.list-group-item
                .row{style: 'padding:0px 10px'}
                  = user.name
                  -if can?(:remove_access, note)
                    = link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe, remove_access_note_path(note, email: user.email, role: k), method: :delete, style: 'color:red;float:right'
