- provide(:title, @note.title)
.container
  .row
    .col-md-10.col-md-offset-1
      .row
        %article
          %h2= @note.title
          .row
            .group1.col-sm-6.col-md-6
              %span.glyphicon.glyphicon-pencil
              = @note.user.name
            .group2.col-sm-6.col-md-6{style: "text-align: right;"}
              %span.glyphicon.glyphicon-calendar
              = @note.created_at.strftime("%b %d, %Y")
              %span.glyphicon.glyphicon-share
              = Note.with_role([:editor, :reader], @note).count
          %hr
          %p.lead{style: "text-align: justify;"}= @note.body
          .row
            .col-md-10.col-md-offset-1
              %span.glyphicon.glyphicon-tags
              = @note.tags.pluck(:name).join(',')
          %hr
        - if can? :update, @note
          = button_to "Edit note", edit_note_path(@note), method: 'get', class: "btn btn-primary"